In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# series reindex

In [3]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])

In [4]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
s1.reindex(index=['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [9]:
s1.reindex(index=['A','B','C','D','E'],fill_value=0)

A    1
B    2
C    3
D    4
E    0
dtype: int64

In [10]:
s1.reindex(index=['A','B','C','D','E'],fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [11]:
s2 = Series(['A','B','C'], index=[1,5,10])

In [12]:
s2

1     A
5     B
10    C
dtype: object

In [13]:
s2.reindex(index=range(15))

0     NaN
1       A
2     NaN
3     NaN
4     NaN
5       B
6     NaN
7     NaN
8     NaN
9     NaN
10      C
11    NaN
12    NaN
13    NaN
14    NaN
dtype: object

In [14]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# reindex dataframe

In [15]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]))

In [16]:
df1

          0         1         2         3         4
0  0.255424  0.315708  0.951327  0.423676  0.975377
1  0.087594  0.192460  0.502268  0.534926  0.423024
2  0.817002  0.113410  0.468270  0.410297  0.278942
3  0.315239  0.018933  0.133764  0.240001  0.910754
4  0.267342  0.451077  0.282865  0.170235  0.898429

In [18]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]), index=['A','B','D','E','F'], columns=['c1','c2','c3','c4','c5'])

In [19]:
df1

         c1        c2        c3        c4        c5
A  0.278063  0.894546  0.932129  0.178442  0.303684
B  0.186239  0.260677  0.708358  0.275914  0.369878
D  0.786987  0.125907  0.191987  0.338194  0.009877
E  0.192269  0.909661  0.227301  0.343989  0.610203
F  0.503267  0.306472  0.197467  0.063800  0.813786

In [20]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.278063  0.894546  0.932129  0.178442  0.303684
B  0.186239  0.260677  0.708358  0.275914  0.369878
C       NaN       NaN       NaN       NaN       NaN
D  0.786987  0.125907  0.191987  0.338194  0.009877
E  0.192269  0.909661  0.227301  0.343989  0.610203
F  0.503267  0.306472  0.197467  0.063800  0.813786

In [21]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.278063  0.894546  0.932129  0.178442  0.303684 NaN
B  0.186239  0.260677  0.708358  0.275914  0.369878 NaN
D  0.786987  0.125907  0.191987  0.338194  0.009877 NaN
E  0.192269  0.909661  0.227301  0.343989  0.610203 NaN
F  0.503267  0.306472  0.197467  0.063800  0.813786 NaN

In [22]:
df1.reindex(index=['A','B','C','D','E','F'],columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.278063  0.894546  0.932129  0.178442  0.303684 NaN
B  0.186239  0.260677  0.708358  0.275914  0.369878 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.786987  0.125907  0.191987  0.338194  0.009877 NaN
E  0.192269  0.909661  0.227301  0.343989  0.610203 NaN
F  0.503267  0.306472  0.197467  0.063800  0.813786 NaN

In [23]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [24]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [25]:
df1

         c1        c2        c3        c4        c5
A  0.278063  0.894546  0.932129  0.178442  0.303684
B  0.186239  0.260677  0.708358  0.275914  0.369878
D  0.786987  0.125907  0.191987  0.338194  0.009877
E  0.192269  0.909661  0.227301  0.343989  0.610203
F  0.503267  0.306472  0.197467  0.063800  0.813786

In [26]:
df1.reindex(index=['A','B'])

         c1        c2        c3        c4        c5
A  0.278063  0.894546  0.932129  0.178442  0.303684
B  0.186239  0.260677  0.708358  0.275914  0.369878

In [27]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [28]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [29]:
df1

         c1        c2        c3        c4        c5
A  0.278063  0.894546  0.932129  0.178442  0.303684
B  0.186239  0.260677  0.708358  0.275914  0.369878
D  0.786987  0.125907  0.191987  0.338194  0.009877
E  0.192269  0.909661  0.227301  0.343989  0.610203
F  0.503267  0.306472  0.197467  0.063800  0.813786

In [30]:
df1.drop('A',axis=0)

         c1        c2        c3        c4        c5
B  0.186239  0.260677  0.708358  0.275914  0.369878
D  0.786987  0.125907  0.191987  0.338194  0.009877
E  0.192269  0.909661  0.227301  0.343989  0.610203
F  0.503267  0.306472  0.197467  0.063800  0.813786

In [31]:
df1.drop('c1',axis=0)

KeyError: "['c1'] not found in axis"

In [32]:
df1.drop('c1',axis=1)

         c2        c3        c4        c5
A  0.894546  0.932129  0.178442  0.303684
B  0.260677  0.708358  0.275914  0.369878
D  0.125907  0.191987  0.338194  0.009877
E  0.909661  0.227301  0.343989  0.610203
F  0.306472  0.197467  0.063800  0.813786